/* design by william77 */

.oc-cursor {
    cursor: pointer;
}

/* ********************************** z-index ************************************** */

.oc-cover {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.oc-z-index-dialog {
    z-index: 100;
}